.modal-wrapper {
	opacity: 0;
	visibility: hidden;
	z-Index: 100;
	transition: opacity 0.2s linear, visibility 0s linear 0.15s;
}

.modal-wrapper.is-visible {
	transition: opacity 0.2s linear, visibility 0s linear;
	opacity: 1;
	visibility: visible;
	/* display: block; */
	/* animation: fadeIn;
    animation-delay: 0.1s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards; */
}

.modal-wrapper,
.modal-background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.modal-background {
	background-color: rgba(50, 50, 50, 0.8);
}

.modal-background,
.modal {
	position: relative;
	padding: 2rem;
	border: outset 3px black;
}

.modal {
	background-color: white;
	height: 100%;
}

.modal h2,
.action-buttons {
	text-align: center;
}

.action-buttons {
	position: absolute;
	width: 100%;
	bottom: 2rem;
}

.closeButton {
	font-size: 0.75rem;
	background: transparent;
	border: 1px outset black;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.stages {
	display: flex;
}

.refinements {
	background-color: #2fa6ce;
}

.development {
	background-color: #edd434;
}

.regression {
	background-color: #f26c2e;
}

.refinements,
.development,
.regression {
	flex-basis: 33.3%;
	padding: 1rem;
	border: 1px solid black;
	position: relative;
}

.stages h4 {
	margin-top: 0;
	text-align: center;
}

.stages ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.stages li {
	line-height: 1.5rem;
}

.arrow-right {
	position: absolute;
	top: 50%;
	width: 0px;
	height: 0px;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid green;
}
